@import "~taro-ui/dist/style/components/flex.scss";
@import 'styles/mixin.scss';

page {
  height: 100%;
  color: $primary-text-color;
  padding-bottom: constant(safe-area-inset-bottom);
  /* 兼容 iOS < 11.2 */
  padding-bottom: env(safe-area-inset-bottom);
  /* 兼容 iOS >= 11.2 */
}

.custom_small_ad {
  position: fixed;
  right: 20px;
  bottom: 100px;
}