@import '../../styles/mixin.scss';

.charge_page {
  padding: 10rpx;
  .account_info {
    width: 100%
  }

  .tooltip {
    @include font('light', normal, 28px)

  }
  .charge_btn {
      @include wh(650px, 92px);
      @include font('white');
      @include flex(row, center, center);
      background: $primary-color;
      box-shadow: 0 14px 40px 0 $second-color;  
      border-radius: 12px;
      line-height: 92px;
      margin-top: 60px;
  }

  .contact_btn {
    @include wh(650px, 92px);
      @include font('white');
      @include flex(row, center, center);
      color: $primary-color;
      background: none;
      line-height: 92px;
      margin-top: 30px;
  }
  
  button::after {
    border: none;
  }
  .charge_btn_hover {
    box-shadow: none;
    transform: scale(0.99, 0.99);
  }
}