@import '../../styles/mixin.scss';

.index {
  color: $primary-color;

  .page {
    padding: 54px;

    .user_info {
      @include flex(row, start, center);

      .nickname {
        @include font('normal');
        margin-left: 20px;
      }
    }

    .action_container {
      @include flex(column, center, center);

      .action_item {
        @include wh(642px, 239px);
        @include shadow();
        @include flex(row, space-between);
        border-radius: $radius;
        padding: 38px;
        margin-top: 44px;

        .action_txt {
          height: 100%;
          @include flex(column, space-between);

          .action_title {
            @include font('heading', bold);
          }

          .action_hint {
            @include font('light');
          }
        }

        .txt_right {
          @include flex(column, space-between, flex-end);
        }

        .aciton_image {
          @include wh(238px, 178px)
        }
      }
    }

    .join_container {
      margin-top: 98px;

      .title {
        @include font('big', bold);
      }

      .empty_container {
        @include flex(column, center, center);

        .image {
          margin-top: 62px;
          @include wh(438px, 338px);
        }

        .empty_hint {
          margin-top: 86px;
          text-align: center;
          @include font('light', normal, 32px);

          .action {
            color: $primary-color;
          }
        }
      }

      .join_item {
        @include wh(642px, 468px);
        @include shadow();
        border-radius: $radius;
        position: relative;
        margin-top: 60px;

        .image_container {
          @include wh(642px, 302px);
          border-radius: $radius $radius 0 0;

          .image {
            @extend .image_container;
          }

          .mask {
            @extend .image_container;
            background: rgba(0, 0, 0, 0.19);
            position: absolute;
            left: 0;
            top: 0;
          }
        }

        .join_txt {
          padding: 32px 38px;
          height: 166px;
          @include flex(column, space-between);

          .member {
            @include font('light', normal, 28px);
          }

          .title {
            width: 100%;
            @include flex(row, space-between, center);

            .classname {
              width: 450px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              @include font('normal', bold);
            }
          }
        }
      }
    }
  }
}