$primary-color: #2F54EB;
$hover-primary-color: #1d39c4;
$second-color: #ADC6FF;
$tag-bg-color: #D6E4FF;

$primary-text-color: #303030;
$second-text-color: #666666;
$grey: #AAAAAA;
$light-grey: #DDDDDD;

$shadow-color: rgba(0,0,0,0.08);
$radius: 12px;

